<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form method='POST'>
      <label for="username">Benutzername:</label><br>
      <input type="text" id="username" name="username"><br>
      <label for="password1">Passwort:</label><br>
      <input type="password" id="password1" name="password1"><br><br>
      <label for="password2">Passwort wiederholen:</label><br>
      <input type="password" id="password2" name="password2"><br><br>
      <label for="klasse">Klassenstufe:</label><br>
      <input type="text" id="klasse" name="klasse"><br>
      <label for="position">Position (Lehrer oder Schueler):</label><br>
      <input type="text" id="position" name="position"><br>
      <label for="vorname">Vorname:</label><br>
      <input type="text" id="vorname" name="vorname"><br>
      <label for="nachname">Nachname:</label><br>
      <input type="text" id="nachname" name="nachname"><br>
      <input type="submit" value="Sign Up">
    </form> 
  </body>
</html>
