{% extends 'base.html' %}
{% block title %}File Upload {% endblock%}
{% block content %}
        <head>
            <title>File Upload</title>
        </head>
        <body>
            <form method="POST" enctype="multipart/form-data">
                {{ form.csrf_token }}
                {{ form.schueler_file.label }}
                {{ form.schueler_file }}
                <input type="submit" value="Upload Schueler">
                <br>
                {{ form.csrf_token }}
                {{ form.projekt_file.label }}
                {{ form.projekt_file }}
                <input type="submit" value="Upload Projekte">
            </form>
        </body>

{% endblock %}

